/* definice grid area ==> použijete pro základní layout .body__**** elementů */

/* základní rozvržení (mobil) - do 831px jeden sloupec */
/* veškerý gap je vždy stejný, jako vnější (levý a pravý) okraj celého viewportu */

/* galerie TOP places tvořena dvěma sloupci */
/* rozložení prvků metodou explicit layout *relativní* (span 2) */

/* other gallery má náhledy velké maximálně 320px nebo menší (implicit layout) */
/* počet sloupců určen automaticky (auto-fit) */

.top-places{
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.other-gallery{
    display: grid;
    gap: 0.5em;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(auto-fit, 320px);
}

.top-places__item--map {
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.top-places__item--2v {
    grid-row-end: span 2;
}

.top-places__item--2h {
    grid-column-end: span 2;
}

/* změny designu pro šíři >= 832px */
@media (min-width: 832px) {

    .body {
        display: grid;
        gap: 0.5em;
        grid-template-columns: 1fr 800px 1fr;
        grid-template-areas:
        'head head head'
        '. place .'
        'gallery gallery gallery'
        'foot foot foot';
    }

    .body__header {
        grid-area: head;
    }
    .body__main{
        grid-area: place;  
    }
    .body__other{
        grid-area: gallery;
    }
    .body__footer {
        grid-area: foot;
    }

    .top-places {
        grid-template-columns: repeat(4, 1fr);
    }
    .top-places__item--map {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .top-places__item--coast {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .top-places__item--castle {
        grid-column-start: 3;
        grid-row-start: 4;
    }
}

/* změny designu pro šíři >= 1150px */
@media (min-width: 1150px) {
    .body {
        display: grid;
        grid-template-columns: 1fr 800px;
        grid-template-areas: 
        'head head'
        'gallery place'
        'foot foot';
    }

    .other-gallery{
        grid-area: gallery;
        justify-self: start;
    }

    .top-places{
        grid-area: places;
    }
}

/* změny designu pro šíři >= 1280px */
@media (min-width: 1280px) {
    .body {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 600px) 800px 1fr;
        grid-template-areas: 
        'head head head head'
        '. gallery place .'
        'foot foot foot foot';
    }

    .other-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }
}